{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">



        {% for movie in movies %}
            <br>

            <div class="w3-card-4" style="width:100%;">
                <header class="w3-container w3-blue">
                    <h1>{{ movie.title }}</h1>
                </header>

                <div class="w3-container" style="height:400px">
                    <iframe  width="100%" height="100%" src="{{ movie.url }}?showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="w3-container">
                    <p>{{ movie.description }}</p>
                </div>
                <footer class="w3-container w3-blue">
                    <a href="{{ path('listuser_movieremove',{'id':movie.id}) }}"><img src="\img\supr.png"></a>
                    <a href="{{ path('listuser_movieedit',{'id':movie.id}) }}"><img src="\img\edit.png"></a>

                </footer>

            </div>



        {% endfor %}

    </div>
{% endblock %}
